<!DOCTYPE html>
<html lang="en">

    <head>
        <%-include('../../shared/includes/head', { pageTitle: 'Update product' })%>
        <link rel="stylesheet" href="/styles/forms.css" />
        <script src="/scripts/image-preview.js" defer></script>
    </head>

    <body>
        <%-include('../../shared/includes/header')%>
        <main>
            <div class="info-container">
                <h1>Update product</h1>
            </div>
            <%if (inputData.errorMessage) {%>
            <div class="alert">
                <h2>Invalid Credentials</h2>
                <p><%=inputData.errorMessage%></p>
            </div>
            <%}%>
            <%-include('includes/product-form',{submitPath:'/admin/products/'+product.id,product:product,imageRequired:false})%>
        </main>
        <%-include('../../shared/includes/footer')%>
    </body>

</html>