<article class="cart order-item">
    <header class="order-summary">
        <h2>
            <span class="order-item-price">$<%=order.productData.totalPrice.toFixed(2)%></span> -
            <%=order.formattedDate%>
        </h2>
        <p>
            <span
                class="<%if(order.status=='cancelled') {%>cancelled<%} else if(order.status=='pending') {%>pending<%}else if (order.status=='fulfilled') {%>fulfilled<%}%>" id="order-status-<%=order.id%>">
                <%=order.status.toUpperCase()%>
            </span>
        </p>
    </header>

    <section class="order-details">
        <%if (locals.isAdmin) {%>
        <address>
            <p>
                <a href="mailto:<%=order.userData.email%>"><%=order.userData.name%></a>
            </p>
            <p>
                <%=order.userData.address.street%> (<%=order.userData.address.postalCode%>
                <%=order.userData.address.city%>)
            </p>
        </address>
        <%}%>
        <ul>
        <%for (const item of order.productData.items) {%>
        <li>
            <%=item.product.title%> - $<%=item.totalPrice.toFixed(2)%>
            ($<%=item.product.price.toFixed(2)%> x <%=item.quantity%>)
        </li>
        <%}%>
        </ul>
    </section>

    <%if (locals.isAdmin) {%><%-include('order-action',{order:order})%><%}%>
</article>